.item {
  border: 1px solid grey;
  padding: 5px;
  margin: 7px;
}

.group {
  display: flex;
  justify-content: space-between;
  padding: 3px;
}
.group > button{
  width: 110px;
  height: 31px;
  margin-left: 10px;
  border-radius: 7px;
}



